-r requirements.txt
-r requirements-updater.txt
pytest>=9.1.1,<10
pytest-cov>=7.1.0,<8
pytest-django>=4.14.0,<5
pytest-xdist>=3.8.0,<4
pre-commit>=4.6.2,<5
ruff>=0.16.2,<1
mypy>=2.3.0,<3
django-stubs>=6.1.0,<7
factory_boy>=3.3.3,<4
